.orderNav{
	float: left;
	width: 25%;
	height: 100%;
	border-right: 5px solid black;
	position: absolute;
	left: 0;
}

.orderNav ul{
	width: 80%;
	margin: 10px auto;
	list-style: square;
}

.orderNav ul li{
	width: 90%;
	height: 30px;
	margin-top: 20px;
	font-weight: bold;
}
.orderNav ul a{
	width: 100%;
	color: black;
	text-decoration: none;
}
.orderNav ul li:hover{
    height: 40px;
	cursor: pointer;
	background-color: gray;
}
.orderNav ul a:hover{
	color: white;
}