
body{
    background-color:blanchedalmond;
  }
  * {/*removes all default margins and stuff. so the boxes fit neatly to the top and edges of the page*/
        margin: 0;
       
       
        background: transparent;
    }

.title{
    height: 50px;
    text-align: center;
    /* line height equal to height centers the text in the box*/
   line-height: 50px;
   /* background:#ff9900;*/
   background-color: #912338;
}
/*left menu*/
.orderNav{
	float: left;
	width: 20%;
	height: 100%;
	border-right: 2px solid black;
	position: absolute;
	left: 0;
    color: #ff9900;
   /* background-color: #6200ff;*/
   background-color:rgba(145, 35, 56, .5);
   border-color: #912338;
}

.orderNav ul{
	width: 80%;
	margin: 10px auto;
	list-style: square;
}

.orderNav ul li{
	width: 90%;
	height: 30px;
	margin-top: 20px;
	font-weight: bold;
}
.orderNav ul a{
	width: 100%;
	color: black;
	text-decoration: none;
}
.orderNav ul li:hover{
    height: 40px;
	cursor: pointer;
	background-color: gray;
}
.orderNav ul a:hover{
	color: white;
}

/* questions drop down*/
.dropbtn {
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 15px;
    border: none;
    }
    .dropdown {
    position: relative;
    display: inline-block;
    }
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 1px;
    z-index: 1;
    }
    .dropdown-content a {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
    }
    .dropdown-content a:hover {background-color: white;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: grey;}




    /*
    classes for student drop down buttons.*/
.studentlist{
margin-left: 20%
}
/*
button content class
where assignments and grades will be displayed.
*/
.content{
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #777;
  color: white;
  }
  
/*
button class
*/
.expandable{
  background-color: #666;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/*
makes whatever student box the mouse is hovering over darker*/
.expandable:hover {
  background-color: #666;
}

/*table class for displaying marks for individual Questions*/
 table{
    border: 1px solid transparent;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    width: auto;
    }
    
    td{
     border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    width: auto;
    }
    
    th{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    width: auto;
    }
    
    
    







