
.header {
padding: 20px;
text-align: center;
background: #912338;
color: white;
position: relative;
width: 100%;
}
.login {
padding: 30px;
text-align: left;
background: #ffffff;
color: #000000;
position: relative;
margin-left: 20%; 
float: left;

}
.signup {
padding: 30px;
text-align: right;
background: #ffffff;
color: #000000;
position: relative;
margin-right: 20%; 
float: right;

}
.footer {
padding: 15px;
text-align: center;
background: #912338;
color: white;
position: absolute;
bottom: 0;
width: 100%;
}
.student{
        padding: 150 px 150 px;
        text-align: left;
        background: #ffffff;
        color: #000000;
        position: relative;
        float: left;
    }
input:hover {color: #912338; background: rgb(227, 227, 227);}
input:focus {color: rgb(0, 0, 0); background: rgb(255, 255, 255);}
